<main>
  @if (dbService.selectedSurvey(); as survey) {
  <div class="survey-view-left">
    <div class="survey-view-left-content">
      <div class="survey-view-left-header">
        <span class="survey-view-left-content-status">Published</span>
        <div class="survey-view-left-content-header">
            <span>Ends on {{ formatDate(survey.ends) }}</span>
            <span>Category: {{ survey.category }}</span>
        </div>
        <h1>{{ survey.headline }}</h1>
        <span>{{ survey.description }}</span>
      </div>


      <div class="survey-view-left-body">
        @for (question of dbService.selectedSurveyQuestions(); track question.id; let i = $index) {
          <app-survey-view-question
            [questionNumber]="i + 1"
            [questionText]="question.question"
            [answers]="question.answers"
          ></app-survey-view-question>
        }
      </div>
      <app-buttons class="survey-view-left-footer" [buttonText]="'Complete survey'"></app-buttons>
    </div>
  </div>
  } @else {
    <div class="survey-view-left">
      <div class="survey-view-left-content">
        <div class="survey-view-left-header">
          <h1>Survey not found</h1>
        </div>
      </div>
    </div>
  }
  <div class="survey-view-right">
      <h2>Survey results <span class="live">Live</span></h2>
      @for (question of dbService.selectedSurveyQuestions(); track question.id) {
        <app-survey-view-chart></app-survey-view-chart>
      }
  </div>
</main>
