main{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.surveys-group{
    width: fit-content;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-family: "Nerko_One", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    margin: 0;
    color: var(--color--p-o);
}

.ending-span{
    display: block;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 32px;
    
}

.soon-ending-surveys{
    display: flex;
    gap: 32px;
    justify-content: flex-start;
}

.ending{
    background-color: white;
    width: 321px;
    height: 310px;
    border-top-right-radius: 80px;
    padding: 40px 18px 40px 18px;
    color: black;
}

