<main>
    <h2>Your Surveys</h2>
    <span>Ending soon surveys</span>
    <div class="soon-ending-surveys">

        <div id="ending-1" class="ending">
            <span class="ending-span-1">Test</span>
            <h3 class="ending-name-1">Test Test</h3>
            <p class="ending-countdown-1">Test</p>
        </div>

        <div id="ending-2" class="ending">
            <span class="ending-span-2">Test</span>
            <h3 class="ending-name-2">Test Test</h3>
            <p class="ending-countdown-2">Test</p>
        </div>

        <div id="ending-3" class="ending">
            <span class="ending-span-3">Test</span>
            <h3 class="ending-name-3">Test Test</h3>
            <p class="ending-countdown-3">Test</p>
        </div>

    </div>
</main>
