<main>
    <h2>Your Surveys</h2>
    <span>Ending soon surveys</span>
    <div class="soon-ending-surveys">

        <div id="ending-1" class="ending">
            <span class="ending-span-1"></span>
            <h3 class="ending-name-1"></h3>
            <p class="ending-countdown-1"></p>
        </div>

        <div id="ending-2" class="ending">
            <span class="ending-span-2"></span>
            <h3 class="ending-name-2"></h3>
            <p class="ending-countdown-2"></p>
        </div>

        <div id="ending-3" class="ending">
            <span class="ending-span-3"></span>
            <h3 class="ending-name-3"></h3>
            <p class="ending-countdown-3"></p>
        </div>

    </div>
</main>
