main {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.surveys-group {
  width: 100%;
  max-width: 1027px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: 'Nerko_One', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  margin: 0;
  color: var(--color--p-o);
}

.ending-span {
  display: block;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 32px;
}

.soon-ending-surveys {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  width: 100%;
}

.ending-items {
  display: flex;
  flex: 0 0 321px;
  width: 321px;
  height: 310px;
  background-color: #FAF5FE;
  padding: 40px 18px 40px 18px;
  border-top-right-radius: 80px;

  &:hover {
    background-color: #F4E9FB;
  }
}


.ending {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: black;
  cursor: pointer;
}

.ending span {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.ending h3 {
  font-family: 'Mulish', serif;
  font-weight: 700;
  font-size: 26px;
}

.ending p {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: auto;
  background-color: var(--color--s-o);
  align-self: flex-start;
  padding: 3px 6px 3px 6px;
  border-top-right-radius: 14px;
}


@media (max-width: 1190px) {
  .soon-ending-surveys {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 999px;
    margin: 0 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color--p-o);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  }
}