main{
    display: flex;
    flex-direction: column;
    margin: 0 199px 32px 199px;

}

h2{
    text-align: center;
    font-family: "Nerko_One", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    margin: 0;
    color: var(--color--p-o);
}