main{
    background-color: #8E709929;
    padding: 40px 32px 40px 32px;
    border-top-right-radius: 80px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}