span {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #221227;
    background-color: var(--color--s-o);
    padding: 3px 12px 3px 8px;
    border-top-right-radius: 14px;
}

.newsurvey-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--h2 {
    font-family: "Nerko_One", sans-serif;
    font-size: 56px;
    font-weight: 400;
    color: #EE9236;
  }
}

.cancel-btn-desktop {
  display: block;
}

.cancel-btn-mobile {
  display: none;
}

@media (max-width: 1080px) {
  .cancel-btn-desktop {
    display: none;
  }

  .cancel-btn-mobile {
    display: block;
  }

  .newsurvey-card-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .newsurvey-card-header--h2 {
    font-size: 48px;
  }
}
