main{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 90px;
    padding: 0 100px;
}

h1{
    font-family: "Nerko_One", sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 89px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--color--p-o);
}

.description-span{
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 40px 0;
    max-width: 666px;
}

.description-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-text-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inline-main-image {
    display: none;
}

.side-main-image {
    display: block;
}

@media (max-width: 1190px) {
    .inline-main-image {
        display: block;
        align-self: center;
    }

    .side-main-image {
        display: none;
    }

    .description-button {
        align-self: center;
    }

    main{
        padding: 0 0px;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    h1{
        font-size: 48px;
        line-height: 100%;
    }

    .description-span{
        font-size: 18px;
        line-height: 100%;
        max-width: 100%;
    }
}

