<main class="description-div content">
    <div class="description-content">
        <div class="description-text-btn">
            <h1>Collect Feedback,<br> Unlock Ideas</h1>
            <span class="description-span">Create and share surveys in minutes from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action</span>
            <app-buttons></app-buttons>
        </div>
    </div>

        <div class="description-image">
            <img class="phone-img" src="./assets/mobile-phone.svg" alt="Mobile Phone">
        </div>
</main>