<main>
  <span class="survey-view-question-title">{{ questionNumber() }}. {{ questionText() }}</span>
  <p class="survey-view-question-description">More than one answers are possible.</p>

  @for (answer of answers(); track $index; let i = $index) {
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [id]="'answer-' + questionNumber() + '-' + i" />
      <label class="form-check-label" [for]="'answer-' + questionNumber() + '-' + i">
        {{ label(i) }}.
        <span class="form-check-label--span">{{ answer }}</span>
      </label>
    </div>
  }

</main>
