main{
    margin-top: 40px;
    width: 100%;

    & p {
        font-size: 12px;
    }
}

.survey-view-question-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.form-check-label{
    font-size: 16px;
    font-weight: 700;


    &--span{
        font-weight: 400;
    }
}

.form-check-input:hover {
    border-color: var(--color--s-o) !important;
    background-color: var(--color--s-o) !important;

}
.form-check-input:checked {
    background-color: var(--color--p-o) !important;
    border-color: var(--color--p-o) !important;
}

.form-check-input:focus {
    border: none !important;
    box-shadow: none !important;
}