<span class="question-title">{{ questionNumber() }}. {{ questionText() }}</span>
<div class="survey-view-chart-question w-75 d-flex flex-column gap-2">
    @for (row of rows(); track row.key) {
    <div class="d-flex align-items-center gap-2">
        <span>{{ row.key }}</span>
        <div class="progress flex-grow-1" role="progressbar" [attr.aria-valuenow]="row.percentage" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-info" [style.width.%]="row.percentage"></div>
        </div>
        <span class="progress-percentage">{{ row.percentage }}%</span>
    </div>
    }
</div>